body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.products-container, .shoes-container, .banner-container, .navbar-container, footer {
    margin: 20px 22%;
}

.products, .shoes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.product {
    border-radius: 10px;
    padding: 20px 30px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.category-bag {
    background-color: #da70d6;
}

.category-watch {
    background-color: #ffa500;
}

.category-shoe {
    background-color: #0000ff;
}

.product img {
    width: 80px;
}

.shoe img {
    width: 100%;
}

.shoe {
    box-shadow: 10px 10px 50px lightgray;
    padding: 20px;
    border-radius: 10px;
}

.buy-btn {
    background-image: linear-gradient(#ff5196, #ff1b74);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
}

.banners {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #fceae8;
}

.banners img {
    width: 300px;
}

.banner-text {
    padding-top: 70px;
    padding-left: 50px;
}

.banner-img {
    padding-right: 50px;
}

.navbar {
    display: flex;
    margin-bottom: 50px;
}

.navbar li {
    list-style-type: none;
    margin-right: 20px;
}

.footer-banner {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: #fceae8;
    border-radius: 10px;
}

.footer-banner input {
    padding: 10px;
    border: none;
    box-shadow: none;
}

.credit-text {
    text-align: center;
}

.menu-bar {
    display: none;
}

.menu-icons {
    display: flex;
}

@media (max-width: 600px) {
    .products, .shoes {
        grid-template-columns: repeat(1, 1fr);
    }

    .banners {
        flex-direction: column;
    }

    .banners img {
        padding-top: 50px;
        width: 200px;
    }

    .menu-icons {
        display: none;
    }

    .menu-bar {
        display: block;
    }
}